<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <div class="product-info">
                <div class="product-image">
                    <img [src]="item.image" alt="product-image"/>
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name" [ngClass]="{ 'highlight': item.highlighted }">
                            {{ item.productName }}
                        </div>
                        <div class="item-price">€{{ item.price }}</div>
                        <div class="quantity-controls">
                            <span class="quantity">Qty: {{ item.quantity }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-price">
            Total Amount: €{{ order.total }}
        </div>
        <div class="total-price">
            Final Amount: €{{ order.amount }}
        </div>
        <div class="total-price" *ngIf="order.voucherName != null">
            Voucher Applied: €{{ order.voucherName }}
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
        </div>
    </div>

    <div class="container" *ngIf="order.voucherName == null">
        <form [formGroup]="voucherForm" (ngSubmit)="applyVoucher()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Discount Code</mat-label>
                <input matInput type="text" placeholder="Code" formControlName="code" />
                <mat-error *ngIf="voucherForm.get('code')?.hasError('required')">Please enter a valid code before applying a discount</mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit">Apply Discount</button>
        </form>

    </div>

</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon class="icon"></mat-icon>
        <span>No items in cart.</span>
    </div>
</ng-template>
