<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>   
    <button mat-button routerLink="/admin/products" routerLinkActive="active">Product</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Customers</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/admin/create-coupon" routerLinkActive="active">Create Coupon</button>
    <button mat-button routerLink="/admin/coupon" routerLinkActive="active">Coupons</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
  <button mat-button routerLink="/customer/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
  <button mat-button routerLink="/customer/orders" routerLinkActive="active">My Orders</button>
  <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
