<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Add Category</button>   
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Add Product</button>
    <button mat-button routerLink="/admin/customers" routerLinkActive="active">Customers</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/admin/add-voucher" routerLinkActive="active">Create Voucher</button>
    <button mat-button routerLink="/admin/get-vouchers" routerLinkActive="active">Vouchers</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Market</span>
    <span class="spacer"></span>
  <button mat-button routerLink="/customer/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
  <button mat-button routerLink="/customer/orders" routerLinkActive="active">My Orders</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
